.menu-seperator{
  margin-top:5px;
  margin-bottom:5px;
}
.panel-heading i{
  float:right;
}
#tab-list{
  margin-top:-15px;
}
#tab-container{
  padding-top:40px;
  margin-left: -15px;
}

#menu-container{
  width:100%;
}
#navbar-header{
  width:100%;
}
.navbar-header{
  width:100%;
  margin-top:.5px;
}

.fa .fa-eye .fa-2x{
  vertical-align:bottom;
}
.menu-seperator{
  padding-left:20px;
}
.ace-tm{
  margin-top:-18px;
}
.status-bar{
  vertical-align:top;
  padding:0;
}
.status-bar-cursor-position-container{
  float:left;
  margin-left:10px;
}
.status-bar-options{
  float:right;
  margin-right:10px;
}