.menu-seperator{
  margin-top:5px;
  margin-bottom:5px;
}
/*
  Panel tool icons
*/
.panel-heading i{
  float:right;
}
#top-menu{
  margin-top:-2px;
}
#tab-list{
  margin-top:-15px;
}
#tab-container{
  padding-top:35px;
}
#menu-container{
  paddin-top:5px;
}