.menu-seperator{
  margin-top:5px;
  margin-bottom:5px;
}
/*
  Panel tool icons
*/
.panel-heading i{
  float:right;
}
#tab-list{
  margin-top:-15px;
}
#tab-container{
  padding-top:35px;
}

#menu-container{
  width:100%;
}
#navbar-header{
  width:100%;
}
.navbar-header{
  width:100%;
  margin-top:.5px;
}

.fa .fa-eye .fa-2x{
  vertical-align:bottom;
}
.menu-seperator{
  padding-left:20px;
}